<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Image Search Engine</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {{ task_1 }}">
            <a class="nav-link" href="{% url 'task1' %}">Task1</a>
          </li>
            <li class="nav-item {{ task_2 }}">
            <a class="nav-link" href="{% url 'task2' %}">Task2</a>
          </li>
          <li class="nav-item {{ task_3 }}">
            <a class="nav-link" href="{% url 'task3' %}">Task3</a>
          </li>
            </li>
            <li class="nav-item {{ task_4 }}">
            <a class="nav-link" href="{% url 'task4' %}">Task4</a>
          </li>
            </li>
            <li class="nav-item {{ task_5 }}">
            <a class="nav-link" href="{% url 'task5' %}">Task5</a>
          </li>
            </li>
            <li class="nav-item {{ task_6 }}">
            <a class="nav-link" href="{% url 'task5' %}">Task6</a>
          </li>
        </ul>
      </div>
    </nav>